<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Google Icon -->
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">

    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>mungstargram</title>
    <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .feed_box {
            margin: 20px 0;
            border: solid 1px whitesmoke;
            background-color: white;
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }

    </style>
</head>
<body style="background: whitesmoke">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width: 100%">
    <div class="container-fluid" style="justify-content: space-between; flex-wrap: nowrap; min-width: 1000px">
        <a class="navbar-brand" href="main">mungstargram</a>
        <input class="form-control me-2" style="width: 600px" type="search" placeholder="Search" aria-label="Search">
        <div>
            <span class="material-icons">assignment</span>
            <span class="material-icons">pets</span>
            <span class="material-icons">cruelty_free</span>
            <span class="material-icons">calendar_month</span>
            <span id="nav_bar_add_box" class="material-icons">add_box</span>
        </div>
    </div>
</nav>

<div style="display: flex; flex-direction: row; text-align: center; justify-content: left;margin-left:400px; padding-top: 80px;background: whitesmoke">
    <div style="width:500px;min-width: 500px; height: 1000px; margin-right: 100px">
        <!--여기서부터 피드박스-->
        {% for feed in feeds %}
            <div class="feed_box">
                <div style="display: flex; flex-direction: row; align-items: center; margin: 0 20px">
                    <div class="box" style="width:60px; height:60px">
                        <img class="profile"
                             src="{{ feed.profile_image }}">
                    </div>
                    <div>
                        {{ feed.user_id }}
                    </div>
                </div>
                <div><img style="width: 100%"
                          src="{% get_media_prefix %}{{ feed.image }}">
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between;margin: 0 20px;padding-top: 15px">
                    <div>
                        <span class="material-icons">thumb_up</span>
                        <span class="material-icons">chat_bubble</span>
                    </div>
                    <div>
                        <span class="material-icons">star</span>
                    </div>
                </div>
                <div style="margin: 0 20px; text-align: left;font-size: 14px">
                    <b>{{ feed.user_id }}</b>{{ feed.content }}</div>
                <div><input type="text" class="form-control" style="box-shadow: none;border:none;" placeholder="댓글 달기"></div>
            </div>
        {% endfor %}
    </div>
    {#달력 만듬#}
    {#    <form action="#">#}
    {##}
    {#        <h3>시간 지정하기</h3>#}
    {#        <input type="datetime-local">#}
    {#    </form>#}
</div>

<!-- 첫번째 모달 -->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 40px; background: white"></div>
            <div>
                새 이미지 업로드
            </div>
            <div style="width: 40px; background: white">
                <span class="material-icons-outlined">close</span>
            </div>
        </div>
        <div class="img_upload_space"
             style="border-top: solid 3px whitesmoke; border:dotted; width: 778px; height: 540px;margin-top: 10px">
            <p style="font-size: 30px; align-self:center">사진 업로드</p>
        </div>
    </div>
</div>

<!-- 두번째 모달 -->
<div id="second_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 40px"></div>
            <div>
                새 이미지 업로드
            </div>
            <div style="width: 40px">
                <span class="material-icons-outlined">close</span>
            </div>
        </div>

        <div style="border-top: solid 1px; display: flex; flex-direction: row;margin-top: 10px">
            <div class="img_upload_space" style="width: 500px; height: 540px;">

            </div>
            <div style="border-left: solid 1px whitesmoke">
                <div>
                    <textarea id="input_feed_content" class="form-control" style="width: 276px; height: 400px"
                              id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                <button id="feed_create_button" type="button" class="btn btn-primary" style="width: 100%">
                    공유하기
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    let files;

    $('#nav_bar_add_box').click(function () {
        $('#first_modal').css({
            display: 'flex'
        });

        $(document.body).css({
            overflow: 'hidden'
        });

    });

    $('#feed_create_button').click(function () {
        alert("피드가 업로드 되었습니다.");

        let file = files[0];
        let image = files[0].name;
        let content = $('#input_feed_content').val();
        let user_id= "mungstar";
        let profile_image="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA5MTJfMjAx%2FMDAxNjk0NDkwMTA4MDc1.h3bGKeKhYir2ldj-Az1xOei9q3_4jtx-5l7zqF_Vdhog.Cc_lvs1gGpQ3u5cpOunkwq7BUb3ElRsr0WlSxRLD43sg.JPEG.dlfqjsekf1%2F640px-Cervo_do_pantano.jpg&type=sc960_832"

        let fd = new FormData();

        fd.append('file', file);
        fd.append('image', image);
        fd.append('content', content);
        fd.append('user_id', user_id);
        fd.append('profile_image', profile_image);

        $.ajax({
            url: "/content/upload",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("success");
            },
            error: function (request, status, error) {
                console.log("error");
            },
            complete: function () {
                console.log("complete");
                location.replace("main")
            }
        });
    });

    $('.img_upload_space')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);


    function dragOver(e) {
        e.stopPropagation();
        e.preventDefault();

        if (e.type == "dragover") {
            $(e.target).css({
                "background-color": "black",
                "outline-offset": "-20px"
            });
        } else {
            $(e.target).css({
                "outline-offset": "-10px"
            });
        }
    }

    function uploadFiles(e) {
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer = e.originalEvent.dataTransfer;
        files = e.target.files || e.dataTransfer.files;
        if (files.length > 1) {
            alert('하나만 올려라.');
            return;
        }

        if (files[0].type.match(/image.*/)) {
            $('#first_modal').css({
                display: 'none'
            });
            $('#second_modal').css({
                display: 'flex'
            });

            $('.img_upload_space').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                "outline": "none",
                "background-size": "100%",
                "background-repeat": "no-repeat",
                "background-position": "center"
            });
        } else {
            alert('이미지가 아닙니다.');
            return;
        }
    }
</script>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
-->
</body>
</html>